@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
}
